.body-container {
    text-align: center;
  }

.search-container {
    text-align: center;
    padding: 5rem 1rem; 
    background-color: #ECE9F7;
}

.search-container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
  
.search-input {
    width: 50%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.icon {
    position: absolute;
    right: 30.5rem; 
    top: 26.5%;
    transform: translateY(-50%);
    color: #666;
    pointer-events: none; 
}
  
/* Card */

.card{
    background-color: #f5f5f5;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 20px;
    height: 90%;
    border: 1px solid #ccc;
    cursor: pointer;
}

.card-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;
    padding: 10rem;
}

.card h2 {
    font-size: 1.25rem;
    margin-top: -0.7rem;
}
  
.card h2::after {
    content: "";
    display: block;
    width: calc(100% + 3rem); 
    height: 3px;
    background-color: #ccc;
    margin-top: 0.75rem;
    margin-left: -1.5rem;
}

.card p {
    font-size: 1.1rem;
    color: #555;
}


.card-form-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); 
}

.card-form {
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  position: relative;
  width: 600px; 
  max-width: 90%; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.card-form form div {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.card-form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.card-form input, .card-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
}

.card-form textarea {
  min-height: 100px;
}

.card-form button {
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}



.card-form button[type="button"] {
  background-color: #6c757d;
}

.card-form button:hover {
  opacity: 0.9;
}

.card-form button:focus {
  outline: none;
}

.card-form-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white; 
  color: black; 
  border: 1px solid #ddd; 
  border-radius: 50%;
  padding: 5px 10px; 
  font-size: 50px; 
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  z-index: 1001; 
}

.card-form-close:hover {
  background-color: #f0f0f0; 
  color: #333; 
}
.alert {
  margin-top: 10px;
  color: red;
  font-size: 14px;
}


.cards-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.cards-table th, .cards-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.cards-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.cards-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.cards-table tr:hover {
  background-color: #f1f1f1;
}


.account-form-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.account-form {
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  max-width: 600px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.account-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.account-form form div {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.account-form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.account-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.account-form button {
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.account-form button[type="button"] {
  background-color: #6c757d;
}

.account-form button:hover {
  opacity: 0.9;
}

.account-form button:focus {
  outline: none;
}

.account-form-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  color: black; 
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px 10px; 
  font-size: 24px; 
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  z-index: 1001; 
}

.account-form-close:hover {
  background-color: #f0f0f0; 
  color: #333; 
}

.alert {
  margin-top: 10px;
  color: red;
  font-size: 14px;
}
